.error-page-container {
  width: $gutter-size;

  h1 {
    font-size: $font-xxlarge;
    margin: 0;
    text-align: left;
  }

  h2 {
    margin: 0;
    padding-left: 0;
    text-align: left;
  }

  p {
    margin: 0;
    text-align: left;
    font-weight: bold;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
          color: $secondary-color;
        }
    }
  }
}