.accordion {
  background-color: $accent-color-one;
  color: $secondary-color;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-bottom: thin solid $secondary-color;

  &:first-child {
    border-top: thin solid $secondary-color;
  }

  &:hover {
    background-color: $primary-color;
    color: $accent-color-one;
  }
}

.panel {
  padding: 0 18px;
  background-color: $accent-color-one;
  color: $secondary-color;
  display: none;
  overflow: hidden;
}
