.author-container {
  text-align: center;
  display: block;

  .author-image-container {
    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
}