.blog-content-container {
  width: $gutter-size;
  margin: 0 auto;
  text-align: center;

  @include breakpoint($md) {
  width: 60%;
  float: left;
    text-align: left;
}

  h2 {
    margin-top: 0;
    text-align: left;
    padding-left: 0;
  }
}