.card-component-container {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 2rem;

    @include breakpoint($md) {
        width: $gutter-size;
    }

    h2 {
        text-align: center;
        padding: 15px;
        font-size: 30px;
        font-weight: bold;
    }

    .row-container {
        flex-direction: column;
        margin-right: -15px;
        margin-left: -15px;
        display: flex;
        box-sizing: border-box;

        @include breakpoint($md) {
            &--vertical {
                flex-wrap: wrap;
                flex-direction: row;
            }
        }

        .card-wrapper {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            box-sizing: border-box;
            display: block;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            @include breakpoint($md) {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                margin-bottom: 0;
            }

            .card {
                display: flex;
                flex-direction: column;
                position: relative;

                &:hover {
                    cursor: pointer;

                    .card-image {
                        transform: scale(1.1);
                    }
                }

                .card-image-wrapper {
                    width: 100%;
                    height: 225px;
                    overflow: hidden;
                    border-radius: 10px 10px 0 0;

                    .card-image {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        transition: all 0.3s ease;
                        transition-property: all;
                        transition-duration: 0.3s;
                        transition-timing-function: ease;
                        transition-delay: initial;
                    }
                }

                .card-text-container {
                    padding: 20px;
                    background-color: $tertiary-color;
                    border-radius: 0 0 10px 10px;

                    @include breakpoint($md) {
                        height: auto;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}