.card-component-container {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0 2rem;

  @include breakpoint($md) {
    width: $gutter-size;
    padding: 0;

    &--horizontal {
      width: 60%;
      float: left;
    }
  }

  .row-container {
    flex-direction: column;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;

    @include breakpoint($md) {
      &--vertical {
        flex-wrap: wrap;
        flex-direction: row;

        .card-wrapper {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          margin-bottom: 0;
        }
      }

      &--horizontal {
        margin-left: 0;
      }
    }

    .card-wrapper {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      display: block;
      margin-bottom: 2rem;

      &.hidden {
        display: none;
      }

      &.visible {
        display: block;
      }

      .card {
        display: flex;
        position: relative;
        flex-direction: column;

        &:hover {
          cursor: pointer;

          .card-image {
            transform: scale(1.1);
          }
        }

        .card-image-wrapper {
          width: 100%;
          height: 225px;
          overflow: hidden;
          border-radius: 10px 10px 0 0;
          display: flex;

          .card-image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease;
            transition-delay: initial;
          }
        }

        .card-text-container {
          padding: 20px;
          background-color: $tertiary-color;
          border-radius: 0 0 10px 10px;

          @include breakpoint($md) {
            height: auto;
          }

          a {
            color: $accent-color-one;
            text-decoration: none;
            font-weight: bold;
            font-size: $font-medium;
          }
        }

        &--horizontal {
          @include breakpoint($md) {
            flex-direction: row;
          }

          .card-image-wrapper {
            height: auto;

            @include breakpoint($md) {
              max-width: 300px;
              width: 300px;
              border-radius: 10px 0 0 10px;
            }
          }

          .card-text-container {
            width: 100%;

            h3 {
              margin-top: 0;
              color: $accent-color-one;
            }

            @include breakpoint($md) {
              border-radius: 0 10px 10px 0;
            }
          }
        }
      }
    }
  }
  .btn-container {
    @include breakpoint($md) {
      padding: 15px;
    }
  }
}
