.contact-form-container {
  border-radius: 10px;
  background-color: $accent-color-one;
  padding: 20px;
  width: $gutter-size;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin: 0;
  }

  p {
    margin: 0;
    padding-left: 5px;
    color: red;
    font-size: $font-xsmall;
    display: inline-block;
  }
}


