.contact-form-container {
  border-radius: 10px;
  background-color: $accent-color-one;
  padding: 20px;
  width: $gutter-size;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin: 0;
  }
}


