.contact-form-container {
  border-radius: 10px;
  background-color: $accent-color-one;
  padding: 20px;
  width: $gutter-size;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin: 0;
  }

  form {
    text-align: center;

    .form-group {
      text-align: left;
    }
  }

  .character-counter {
    font-size: $font-xsmall;

    &.limit-warning {
      color: $highlight-color;
    }
  }
}


