/* Footer */

.footer {
  display: flex;
  justify-content: center;
  background-color: $accent-color-two;
  .footer-container {
   display: flex;
   margin: 0;
   width: $gutter-size;
   align-items: flex-start;

   .copyright-statement {
    flex: 0 0 20%;
    max-width: 20%;
    color: white;
    font-size: 12px;
  }

  .footer-navlinks,
  .footer-info-links {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    justify-content: center;
    font-size: 14px;
    padding: 0;
    color: white;
    &:hover {
      a {
        text-decoration: underline;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 15px;
    }
  }

  .footer-info-links {
    justify-content: start;
  }

  ul {
    max-width: 90%;
    display: flex;
    padding: 1px;
    flex-direction: column;
    list-style-type: none;
  }

  .social-media-links {
    
    h2 {
      color: white;
    }

    .social-media {
      display: flex;
      flex-direction: row;
      padding: 0;
      list-style-type: none;

      .facebook,
      .instagram {
        margin-right: 20px;
      }

      .footer .footer-container .twitter {
        margin-right: 22px;
      }
    }
  }
}

.facebook a,
.twitter a,
.instagram a {
  &:before {
    content: "";
    height: 60px;
    width: 60px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
  } 
}

.facebook a {
  &:before {
    background-image: url('../img/facebook-sm.png');
  } 
}

.twitter a {
  &:before {
    background-image: url('../img/twitter-sm.png');
  } 
}

.instagram a {
  &:before {
    height: 47px;
    width: 47px;
    background-image: url('../img/instagram-sm.png');
    margin-top: 4px;
  } 
}
}

