.footer {
    display: flex;
    justify-content: center;
    background-color: $secondary-color;

    .footer-container {
        display: flex;
        margin: 0;
        width: $gutter-size;
        flex-direction: column;

        @include breakpoint($md) {
            align-items: flex-start;
            flex-direction: row;
        }

        .copyright-statement {
            color: $accent-color-one;
            font-size: $font-xsmall;
            order: 4;

            @include breakpoint($md) {
                flex: 0 0 20%;
                max-width: 20%;
                order: 0;
            }
        }

        .footer-navlinks,
        .footer-info-links {
            display: flex;
            padding: 0;
            color: $accent-color-one;

            @include breakpoint($md) {
                flex: 0 0 25%;
                max-width: 25%;
                justify-content: center;
            }

            a {
                text-decoration: none;
                color: $accent-color-one;
                font-size: $font-small;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .footer-info-links {
            justify-content: start;
        }

        ul {
            max-width: 90%;
            display: flex;
            padding: 1px;
            flex-direction: column;
            list-style-type: none;
        }

        .social-media-links {

            h2 {
                color: $accent-color-one;
                padding: 0;
                margin-bottom: 5px;
            }

            .social-icons {
                display: flex;
                flex-direction: row;
                padding: 0;
                list-style-type: none;
                justify-content: center;

                .fa-facebook-f,
                .fa-twitter,
                .fa-instagram {
                    color: $accent-color-one;
                    font-size: $font-large;
                    padding: 10px;

                    &:hover {
                        cursor: pointer;
                        color: $tertiary-color;
                    }
                }
            }
        }
    }
}