.footer {
    display: flex;
    justify-content: center;
    background-color: $secondary-color;

    .footer-container {
        display: flex;
        margin: 0;
        width: $gutter-size;
        flex-direction: column;

        @include breakpoint($md) {
            align-items: flex-start;
            flex-direction: row;
        }

        .copyright-statement {
            color: $tertiary-color;
            font-size: $font-xsmall;
            font-weight: bold;
            order: 4;
            padding: 5px 1px;
            margin: 2px;
            text-align: center;

            .github-link {
                color: $accent-color-one;
                font-size: $font-xsmall;
                text-decoration: none;
                font-weight: normal;

                &:hover {
                    text-decoration: underline;
                }
            }

            @include breakpoint($md) {
                flex: 0 0 33%;
                max-width: 33%;
                order: 0;
                font-size: $font-small;
                text-align: left;
            }
        }

        .footer-navlinks {
            display: flex;
            padding: 0;
            align-items: center;
            color: $tertiary-color;
            font-size: $font-small;
            font-weight: bold;
            flex-direction: column;
            margin-bottom: 5px;
            text-align: center;

            @include breakpoint($md) {
                flex: 0 0 33%;
                max-width: 33%;
                text-align: left;
            }

            p {
                margin-bottom: 0;
            }

            a {
                text-decoration: none;
                color: $accent-color-one;
                font-size: $font-small;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        ul {
            max-width: 90%;
            display: flex;
            padding: 5px 1px;
            margin: 2px;
            flex-direction: column;
            list-style-type: none;
        }

        .social-media-links {
            h2 {
                color: $tertiary-color;
                padding: 0;
                margin-bottom: 5px;
                margin-top: 10px;
            }

            .social-icons {
                display: flex;
                flex-direction: row;
                padding: 0;
                list-style-type: none;
                justify-content: center;

                .fa-facebook-f,
                .fa-twitter,
                .fa-instagram {
                    color: $accent-color-one;
                    font-size: $font-large;
                    padding: 10px;

                    &:hover {
                        cursor: pointer;
                        color: $tertiary-color;
                    }
                }
            }
        }
    }
}