.header {
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;

    .header-title a {
        padding: 25px 5px;
        margin: 20px 30px;
        color: $primary-color;
        font-weight: bold;
        font-size: 40px;
    }

    a:link {
        text-decoration: none;
    }

    .header-links {
        display: flex;
        position: absolute;
        right: 15px;
        font-weight: bold;
        justify-content: space-between;
        align-items: center;
        height: 50px;

        .dropdown {
            &:hover {
                .dropdown-content {
                    display: block;
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                right: 403px;
                top: 50px;
                width: 108px;
                background-color: #f9f9f9;
                z-index: 1;
                
                a {
                    background-color: inherit;
                    display: block;

                    &:hover {
                        background-color: $accent-color-two;
                        color: white;
                    }
                }
            }
        }

        a {
            color: $secondary-color;
            padding: 15px;
            &:hover {
                background-color: $primary-color;
            }
        }

        > a {
            display: flex;
        }
    }
}