.header {
    height: 70px;
    background: white;

    .nav-container {
        max-width: 1000px;
        margin: 0 auto;

        .header-title {
            position: absolute;
            padding-left: 20px;
            float: left;
            line-height: 70px;
            text-transform: uppercase;
            font-size: 1.4em;

            a {
                text-decoration: none;
                color: $primary-color;
                font-weight: bold;
            }
        }

        nav {
            position: absolute;
            right: 0;
            width: 100%;
            padding: 70px 0 15px;

            @include breakpoint($lg) {
                padding: 0;
                width: auto;
            }

            .hamburger {
                position: absolute;
                top: 0;
                right: 0;
                background: white;
                height: 70px;
                width: 70px;
                display: block;
                border-style: none;

                @include breakpoint ($lg) {
                    display: none;
                }

                #nav-toggle {
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    padding: 35px;
                }
            }

            .hamburger.is-active {
                background-color: $primary-color;
            }

            .nav-list {
                list-style: none;
                margin: 0;
                padding: 0;
                display: none;
                text-align: center;
                background-color: white;

                @include breakpoint($lg) {
                    display: block !important;
                }

                li {
                    position: relative;
                    float: none;
                    border-top: solid;
                    border-width: thin;
                    border-color: $secondary-color;

                    @include breakpoint($lg) {
                        border-style: none;
                    }

                    &:last-child {
                        border-bottom: solid;
                        border-width: thin;
                        border-color: $secondary-color;
                    }

                    @include breakpoint($lg) {
                        float: left;
                    }

                    a {
                        padding: 15px;
                        line-height: 20px;
                        padding-left: 25%;

                        &:hover,
                        &:visited:hover {
                            background: $primary-color;
                            color: white;
                        }

                        &:not(:only-child):after,
                        &:visited:not(:only-child):after {
                            padding-left: 4px;
                            content: ' ▾';
                        }
                    }

                    a,
                    a:visited {
                        display: block;
                        padding: 0 20px;
                        line-height: 70px;
                        color: $secondary-color;
                        text-decoration: none;
                        font-weight: bold;
                    }

                    .nav-dropdown {
                        display: none;
                        z-index: 1;
                        position: static;
                        padding: 0;
                        background-color: $secondary-color;
                        object-align: center;
                        text-align: left;

                        @include breakpoint($lg) {
                            position: absolute;
                            background-color: white;
                        }

                        li {
                            min-width: 190px;
                            list-style-type: none;
                            border-color: white;

                            @include breakpoint($lg) {
                                border-style: none;
                            }

                            &:last-child {
                                border-bottom: none;
                            }

                            a {
                                padding: 15px;
                                line-height: 20px;
                                padding-left: 30%;
                                color: white;

                                @include breakpoint($lg) {
                                    color: $secondary-color;
                                }

                                &:hover {
                                    background-color: $secondary-color;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}