.hero-image {
    background-image: url("../img/hero-image.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;

    .page-about-us & {
        background-image: url("../img/teaching-image.jpeg");
    }

    .hero-text-box {
        position: absolute;
        left: 10vw;
        bottom: 10vw;
        text-align: left;
        font-weight: bold;
        color: white;
    }
}