.sidebar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include breakpoint($md) {
    width: 40%;
    float: right;
  }
  h2 {
    text-align: center;
    font-size: $font-large;
    color: $tertiary-color;
    margin-top: 0;
  }

  ul {
    list-style: none;
    text-align: center;

    li {
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: $secondary-color;
      font-weight: 900;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .twitter-feed {
    float: right;
  }
}