.sidebar-container {
  display: flex;
  flex-direction: column;

  @include breakpoint($md) {
    width: 40%;
    float: right;
  }
  h2 {
    text-align: center;
    font-size: $font-large;
    color: $tertiary-color;
    margin-top: 0;
  }

  ul {
    list-style: none;
    text-align: center;

    li {
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: $secondary-color;
      font-weight: 900;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .blog-links {
    width: 80%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }

  .sidebar-divider {
    height: 1px;
    width: 50%;
    background-color: $secondary-color;
    margin: 0 auto;
  }

  .twitter-feed {
    float: right;
  }
}