.stats-bar {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 2rem;

    @include breakpoint($md) {
        width: $gutter-size;
        padding: 0;
    }

    h1 {
        font-size: $font-large;
        font-weight: bold;
        color: $tertiary-color;
        text-align: center;
    }

    .icon-row-container {

        @include breakpoint($md) {
            display: flex;
            flex-direction: row;
        }

        .icon {
            margin: 1rem;
            text-align: center;

            @include breakpoint($md) {
                width: 33.333%;
            }

            .icon-text-container {
            	font-size: $font-medium;
                color: $secondary-color;
                font-weight: bold;
            }
        }
    }
}