/* Text and image component */

.text-and-image-component {
  width: 60%;
  margin: 0 auto;
}

.text-and-image-component .image-container {
  margin-bottom: 10px;
  display: block;
}

.text-and-image-component.left .image-container {
  float: left;
  padding-right: 20px;
}

.text-and-image-component.right .image-container {
  float: right;
  padding-left: 20px;
}

.text-and-image-container img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  filter:grayscale(100%);
  transition: all .4s ease-in-out;
}

.text-and-image-container img:hover {
  filter:grayscale(0%);
}

.text-and-image-component.left .text-container {
  text-align: left;
}

.text-and-image-component.right .text-container {
  text-align: right;
}